@media screen and (max-width: 768px) {
  .logo-section img {
    width: 50px;
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation-menu ul {
    flex-direction: column;
    width: 100%;
    background-color: #191919;
    border-top: 1px solid black;
    list-style: none;
    padding: 0px;
  }
  .navigation-menu li {
    text-align: center;
    margin: 0;
    padding: 10px 0px;
    border-bottom: #383737 1px solid;
  }
  .navigation-menu li a {
    color: white;
    width: 100%;
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: #383737;
  }
  .navigation-menu ul {
    /* previous styles */
    display: none;
  }
  .hamburger-react {
    position: absolute !important;
    top: 10px;
    right: 10px;
    height: 40px;
  }
  .navigation-menu.expanded ul {
    display: block;
  }
}